<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2 col-sm-12 transparent-white">
    <h2>Calculator</h2>
    <p>This calculator was built to satisfy the JavaScript Calculator project in <a href="https://www.freecodecamp.org/challenges/build-a-javascript-calculator" target="_blank">FreeCodeCamp</a>.</p>
    <div class="calculator-body col-lg-6 col-lg-offset-3 col-sm-12">
      <div>
        <h3 class="text-blue-shadow">FreeCodeCamp</h3>
        <h4 class="text-blue-shadow">Calculator</h4>
        <div class="col-md-10 col-md-offset-1 col-sm-12">
          <div class="calculator-grid">
            <div class="calculator-display">
              <div class="calculator-running">{{calculator.running}}</div>
              <div class="calculator-entry">{{calculator.display}}</div>
            </div>
            <button class="btn btn-danger" ng-click="calculator.allClear()">AC</button>
            <button class="btn btn-danger" ng-click="calculator.clearEntry()">CE</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.operation('/')">&divide</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.operation('*')">&times</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(7)">7</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(8)">8</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(9)">9</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.operation('-')">-</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(4)">4</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(5)">5</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(6)">6</button>
            <button class="btn btn-primary calculator-button-tall" ng-disabled="calculator.invalid" ng-click="calculator.operation('+')">+</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(1)">1</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(2)">2</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat(3)">3</button>
            <button class="btn btn-primary calculator-button-wide" ng-disabled="calculator.invalid" ng-click="calculator.concat(0)">0</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.concat('.')">.</button>
            <button class="btn btn-primary" ng-disabled="calculator.invalid" ng-click="calculator.equals()">=</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>