<div class="container-fluid css-grid-container">
  <div class="col-md-8 col-md-offset-2 col-sm-12 transparent-white">
    <h2>Contact</h2>
    <p>
      <div class="div-social">
        <a href="https://www.linkedin.com/in/richhopkins1/" target="_blank">
          <img class="img-social" src="app/images/linked-in-54px.png" alt="LinkedIn Logo" />
        </a>
      </div>
      Connect with me on LinkedIn.
    </p>
    <p>
      <div class="div-social">
        <a href="https://github.com/Rich-Hopkins/FPCOakwood-AngularJS" target="_blank">
          <img class="img-social" src="app/images/GitHub-Mark-64px.png" alt="GitHub Logo" />
        </a>
      </div>
      Check out my GitHub profile.
    </p>
    <p>Please feel free to use this form to ask questions, let me know what you think, provide general feedback, or even tell me you'd like me to do some work for you. Your thoughts are important!</p>

    <div class="col-md-8 col-md-offset-2">
      <form novalidate name="contactForm" role="form">
        <div class="form-group"
             ng-class="{'has-error': contact.visitedName && contactForm.userName.$error.required}">
          <label for="userName">Your name (required):</label>
          <input rh-select-on-click
                 id="userName"
                 name="userName"
                 type="text"
                 class="form-control"
                 placeholder="Name"
                 ng-model="contact.msg.name"
                 ng-blur="contact.visitedName = true"
                 required />
          <p class="text-danger" ng-show="contact.visitedName && contactForm.userName.$error.required">Name is required.</p>
        </div>

        <div class="form-group"
             ng-class="{'has-error': contact.visitedEmail && (contactForm.emailAddress.$error.pattern || contactForm.emailAddress.$error.required)}">
          <label for="emailAddress">Email address (required):</label>
          <input rh-select-on-click
                 id="emailAddress"
                 name="emailAddress"
                 type="text"
                 class="form-control"
                 placeholder="Email address"
                 ng-model="contact.msg.address"
                 ng-pattern="contact.emailFormat"
                 ng-blur="contact.visitedEmail = true"
                 required />
          <p class="text-danger" ng-show="contact.visitedEmail && contactForm.emailAddress.$error.pattern">Email is invalid. </p>
          <p class="text-danger" ng-show="contact.visitedEmail && contactForm.emailAddress.$error.required">Email is required.</p>
        </div>

        <div class="form-group"
             ng-class="{'has-error': contact.visitedMessage && contactForm.message.$error.required}">
          <label for="message">Message (required):</label> <span>{{contact.msg.message.length}}</span>
          <textarea rh-select-on-click
                    id="message"
                    name="message"
                    placeholder="Enter your message here."
                    class="form-control"
                    ng-model="contact.msg.message"
                    ng-blur="contact.visitedMessage = true"
                    ng-trim="false"
                    rows="5"
                    required></textarea>
          <p class="text-danger" ng-show="contact.visitedMessage && contactForm.message.$error.required">Message is required. </p>
          <p class="text-danger" ng-show="contact.visitedMessage && contact.msg.message.length < 75 && contact.message !=''">Message too short. Must be at least 75 characters.</p>
        </div>

        <div class="form-group hidden">
          <label for="body">Leave this bot-detection field blank</label>
          <input name="body" id="body" placeholder="Leave this bot-detection field blank" class="form-control" ng-class="contact.msg.body" />
        </div>

        <p id="sendSuccess" class="text-success text-center" ng-show="contact.sendSuccess">Your message has been sent. Thank you for sharing your thoughts with me!</p>
        <p id="sendFailed" class="text-danger text-center" ng-show="contact.sendFailed">I am sorry, but your message failed. Please try again later, as your message is important to me!</p>

        <div class="form-group">
          <button type="submit"
                  class="btn btn-primary"
                  ng-disabled="contact.submitDisabled(contactForm)"
                  ng-click="contact.sendMail(contactForm)">
            Send
          </button>
          <button type="button" class="btn btn-default" ng-click="contact.cancel()">Cancel</button>
        </div>

        <div ng-show="contact.waiting" class="spinner-container transparent-white">
          <div class="loader">
            <div class="loader-outer"></div>
            <div class="loader-inner"></div>
          </div>
        </div>

      </form>
    </div>


  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>