<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2 col-sm-12 transparent-white">
    <h2>Carrie Brown Keto Recipe Index</h2>
    <p><a href="http://www.carriebrown.com" target="_blank">Carrie Brown</a> is a Ketovangelist chef whose recipes are AWESOME! Carrie wants us all to be successful on our ketogenic way of eating, and wants us to enjoy food while we enjoy that success. To use her own words, she wants each of us "to be a Rock Star in the kitchen!" In order to find recipes easier, I have created this simple list of her recipes and where the can be found. I hope this helps you to enjoy the food creations that she has invented for us!</p>
    <div class="form-group">
      <label class="col-md-2 control-label" for="category">Category:</label>
      <div class="col-md-3">
        <select class="form-control" name="category" id="category" ng-model="cbindex.category">
          <option ng-repeat="recipe in cbindex.recipes | unique:'Column1' | orderBy:'Column1'">{{recipe.Column1}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-12 col-sm-12">
      <div class="col-md-6 col-sm-12"><h3>Recipe</h3></div>
      <div class="col-md-6 col-sm-12"><h3>Where to find it</h3></div>
      <div class="row" ng-repeat="recipe in cbindex.recipes | orderBy:['Column0', 'Column2'] | filter:{Column1:cbindex.category}">
        <div class="col-md-6 col-sm-12">
          {{recipe.Column0}}  
        </div>
        <div class="col-md-6 col-sm-12">
          <a href="{{recipe.Column3}}" target="_blank">{{recipe.Column2}}</a>
        </div>
      </div>
    </div>
  </div>
</div>