<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2 col-sm-12 transparent-white">
    <h2>Pomodoro Timer</h2>
    <p>This page was built to satisfy the Pomodoro timer project in <a href="https://www.freecodecamp.org/challenges/build-a-pomodoro-clock" target="_blank">FreeCodeCamp</a>.</p>
    <div class="pomodoro-grid col-md-6 col-md-offset-3 col-sm-12 text-blue-shadow">
      <div class="pomodoro-length">
        <h3>Break Length</h3>
        <a ng-click="pomodoro.adjustLength('break', '-')">-</a>
        <span>{{pomodoro.breakLength}}</span>
        <a ng-click="pomodoro.adjustLength('break', '+')">+</a>
      </div>
      <div class="pomodoro-length">
        <h3>Session Length</h3>
        <a ng-click="pomodoro.adjustLength('session', '-')">-</a>
        <span>{{pomodoro.sessionLength}}</span>
        <a ng-click="pomodoro.adjustLength('session', '+')">+</a>
      </div>
      <div class="pomodoro-counter" ng-click="pomodoro.toggleRun()">
        <h2>{{pomodoro.mode}}</h2>
        <div class="progress progress-striped" ng-class="{active: pomodoro.running}">
          <div class="progress-bar" ng-class="{'progress-bar-success': pomodoro.session, 'progress-bar-info': pomodoro.session===false}" style="width: {{pomodoro.progress}}%"></div>
        </div>
        <h1>{{pomodoro.displayRemaining}}</h1>
      </div>
    </div>
  </div>
</div>