<div class="container-fluid">
  <div class="col-md-8 col-md-offset-2 col-sm-12 transparent-white">
    <h2>Tic Tac Toe</h2>
    <p>This game was created to satisfy the Tic Tac Toe game project in <a href="https://www.freecodecamp.org/challenges/build-a-tic-tac-toe-game" target="_blank">FreeCodeCamp</a>. Hint: You can't win. 😉</p>
    <div class="tictactoe-body col-lg-6 col-lg-offset-3 col-sm-12">
      <div>
        <h3 class="text-blue-shadow">FreeCodeCamp</h3>
        <h4 class="text-blue-shadow">Tic Tac Toe</h4>
        <div class="tictactoe-grid col-md-10 col-md-offset-1 col-sm-12">
          <div class="tictactoe-box" ng-repeat="space in tictactoe.spaces">
            <div class="tictactoe-content" ng-click="tictactoe.spaceClicked(space)">
              <div ng-show="space.value==1">o</div>
              <div ng-show="space.value==2">x</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
