/*http://paletton.com/#uid=13B0u0ksMQThhUpndSwFHOxLbuC*/

@media (min-width: 1400px) and (min-aspect-ratio: 3/2) {
	body {
		background-image: url('../images/Tri-Motor-3x2-2000w.jpg');
	}

	.img-header {
		display: block;
		margin-left: auto;
		margin-right: 1rem;
	}
}

@media (max-width: 1399px) and (min-aspect-ratio: 3/2) {
	body {
		background-image: url('/app/images/Tri-Motor-3x2-1200w.jpg');
	}

	.img-header {
		display: block;
		margin-left: auto;
		margin-right: 1rem;
	}
}

@media (min-width: 800px) and (max-aspect-ratio: 3/2) {
	body {
		background-image: url('/app/images/Tri-Motor-Tail-9x16-1080w.jpg');
	}

	.img-header {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.header {
		text-align: center;
	}
}

@media (max-width: 799px) and (max-aspect-ratio: 3/2) {
	body {
		background-image: url('/app/images/Tri-Motor-Tail-9x16-540w.jpg');
		background-color: #657396;
	}

	.img-header {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.header {
		text-align: center;
	}
}

html {
	position: relative;
	min-height: 100%;
}

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size: 100%;
	margin-top: 5rem;
	margin-bottom: 8rem;
}

/*Image Formatting*/
.navbar-left img {
	margin-left: -5px;
	margin-right: 10px;
}

.slideshow img {
	max-height: 500px;
	max-width: 100%;
}

.img-border {
	border: 1px solid #2780e3;
}

.img-header {
	max-height: 135px;
}

/*Text Formatting*/
.slideshow h3, .slideshow p {
	text-shadow: 1px 0px 0px #0C6EDC, 1px 1px 2px #0C6EDC, 0px 1px 2px #0C6EDC, -1px 1px 2px #0C6EDC, -1px 0px 2px #0C6EDC, -1px -1px 2px #0C6EDC, 0px -1px 2px #0C6EDC, 1px -1px 2px #0C6EDC, 2px 4px 8px #0C6EDC;
}

.carousel-head {
	text-align: center;
	font-size: 1.5rem;
	margin-top: -1rem;
	margin-bottom: 1rem;
}

.carousel-foot {
	text-align: center;
	font-size: 1.5rem;
	margin-bottom: -1rem;
}

.slideshow h4 {
	font-weight: bold;
}

/*Containers*/
.header {
	border-bottom: 1px solid #0C6EDC;
	background-color: rgba(119, 175, 237, .8);
	color: white;
	font-size: 2rem;
	padding: 2rem;
	text-shadow: 1px 0px 0px #0C6EDC, 1px 1px 2px #0C6EDC, 0px 1px 2px #0C6EDC, -1px 1px 2px #0C6EDC, -1px 0px 2px #0C6EDC, -1px -1px 2px #0C6EDC, 0px -1px 2px #0C6EDC, 1px -1px 2px #0C6EDC, 2px 4px 8px #0C6EDC;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5rem;
	padding: 1.5rem;
	background-color: #2780e3;
	border-color: #1967be;
	color: #ffffff;
}

.transparent-white {
	border: 1px solid grey;
	background-color: rgba(255,255,255,.8);
	margin-top: 3rem;
	font-size: 2rem;
	padding: 2rem;
}


/*Portfolio Tiles*/
.portfolio-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 1rem;
}

	.portfolio-grid div {
		border: 1px solid #2780e3;
		padding: 1rem;
		text-align: center;
	}

	.portfolio-grid img {
		width: 100%;
		border: 1px solid #2780e3;
	}

	.portfolio-grid p {
		text-align: center;
		white-space: pre; /* CSS 2.0 */
		white-space: pre-wrap; /* CSS 2.1 */
		white-space: pre-line; /* CSS 3.0 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		white-space: -moz-pre-wrap; /* Mozilla */
		word-wrap: break-word; /* IE 5+ */
	}

	.portfolio-grid h3 {
		text-align: center;
		font-weight: normal;
	}



/*loading spinner*/
.spinner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.loader {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

.loader-outer {
  position: absolute;
  border: 4px solid #064f9f;
  border-left-color: transparent;
  border-bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: loader-1-outer 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-outer 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

.loader-inner {
  position: absolute;
  border: 4px solid #4d96e8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  border-right: 0;
  border-top-color: transparent;
  -webkit-animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
  animation: loader-1-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
}


@-webkit-keyframes loader-1-outer {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-1-outer {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes loader-1-inner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
